<!-- blog/home.html -->
<!-- Displaying a list of blog posts -->

{% extends 'blog/base.html' %}

{% block content %}
    <h1>The Blog!</h1>
    <ul>
        {% for post in posts %}
            <li>
                {% if post.img_file %}
                    <img src="{{post.img_file.url}}" height="50" alt="{{post.title}}">
                {% endif %}
                <a href="{% url 'article' post.pk %}">{{post.title}}</a>
            </li>
        {% endfor %}
    </ul>
    <div>
        {% for post in posts %}
            <h2>{{post.title}}</h2>
            <h3>{{post.author}} - {{post.published}}</h3>
            {% if post.img_file %}
                <img src="{{post.img_file.url}}" width="300" alt="{{post.title}}">
            {% endif %}
            <p>{{post.text}}</p>
        {% endfor %}
    </div>
{% endblock %}