<!-- base.html -->
<!-- Styling and title for every view in the app -->

{% load static %}
<html>
    <head>
        <title>Aidan's Mini FB</title>
        <link rel="stylesheet" href="{% static 'default.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="nav">
            <a href="{% url 'show_all_profiles' %}">All Profiles</a>
        </div>
        <div class="content">
        {% block content %}

        {% endblock %}
        </div>
        <p class="attribution">
            This page was created by Aidan Parkhurst, a student at Boston University.
        </p>
    </body>
</html>