<!-- mini_fb/news_feed.html -->
<!-- Shows a list of all status messages for a given profile and its friends -->

{% extends 'mini_fb/base.html' %}
{% block navlinks %}
    <a href="{% url 'show_profile' profile.pk %}">Back to {{profile.first_name}}'s Page</a>
{% endblock %}
{% block content %}
<h1>{{profile}}'s Feed:</h1>
{% for status in news_feed %}
    <div class="row" style="margin-bottom: 25px;">
        <img height=200 width=200 style="object-fit: cover" src="{{ status.profile.profile_picture_url }}" alt="Profile Picture">
        <div class="div" style="margin-left: 25px; ">
            <h2>{{ status.profile.first_name }} {{ status.profile.last_name }}</h2>
            <p>{{ status }}</p>
            {% if status.get_images %}
                {% for image in status.get_images %}
                    <img src="{{ image.image_file.url }}" alt="Status Image" style="max-width: 45%">
                {% endfor %}
            {% endif %}
            <p class="attribution">Posted {{ status.timestamp }}</p>
        </div>
    </div>
{% endfor %}

{% endblock %}