{%extends 'quotes/base.html'%}

{%block content%}
    <h2>Who was Helio Gracie?</h2>
    <p>
        Helio Gracie was a Brazilian martial artist who, together with his brother Carlos Gracie, founded the martial art of Gracie Jiu-Jitsu, also known as Brazilian Jiu-Jitsu.
        Helio was born on October 1, 1913, in Belém do Pará, Brazil, and passed away on January 29, 2009, in Itaipava, Brazil.
        He was the father of the Ultimate Fighting Championship (UFC) and the creator of the Gracie Diet.
        Helio was a true pioneer in the world of martial arts and his legacy continues to live on through his family and students.
    </p>
{% endblock %}