<!-- base.html -->
<!-- Styling and title for every view in the quotes app -->

{% load static %}
<html>
    <head>
        <title>Helio Gracie Quotes</title>
        <link rel="stylesheet" href="{% static 'quotes.css' %}">
    </head>

    <body>
        <h1>Helio Gracie Quotes</h1>
        <div class="meat">
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'show_all' %}">All Quotes</a></li>
                </ul>
            </nav>

            <div class="content">
            {% block content %}

            {% endblock %}
                <hr>
                <p>
                    This page was created by Aidan Parkhurst, a student at Boston University, and Jiu-Jitsu enthusiast.
                </p>
            </div>
        </div>

    </body>
</html>